# fly.toml app configuration file generated for siteflow-organic-67qgvq on 2025-11-21T17:06:09Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'siteflow-organic-67qgvq'
primary_region = 'arn'

[build]

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
